div {
	width: 100px;
	height: 100px;
	background-color: aqua;
	float: left;
}
#radius1{
	border-radius: 10px;
}
#radius2{
	border-radius: 50px;
}
#radius3{
	height: 50px;
	border-radius: 50%;
}
#radius4{
	border-radius: 10px 20px 30px 40px;
}
#radius5{
	border-radius: 30px 30px 0 0;
}
#radius6{
	border-radius: 30px 0 0 30px;
	background-color: pink;
}
#radius7{
	border-radius: 0 30px 30px 0;
	background-color: red;
}
#radius8{
	border-radius: 10px 20px 30px 40px / 30px 40px 50px 60px;
}
#radius9{
	border-top-left-radius: 30px ;
	border-bottom-right-radius: 40px ;
}
#radius10{
 	border-top-left-radius: 90px ;
	border-bottom-right-radius: 0px ;
	background-color: #99FF00;
}
#radius11{
 	border-top-right-radius: 90px ;
	border-bottom-left-radius: 0px ;
	background-color: #99FF00	;
}
#box-shadow{
	width: 100%;
	height: 50px;
	background-color: darkgreen;
	box-shadow: 5px 8px 70px #000;
}
h1#title{
	color: aqua;
	font-size: 3em;
	text-shadow: 2px 2px 2px black,
	5px 5px 5px red,
	8px 8px 8px yellow;
}