table{
	width: 100%;
	margin: 20px 0 50px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-spacing: 0; 
}
table tr th, table tr td{
	font-size: 12px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 7px; 
}
table tr th{
	background: #99ffff;
}
/*table tbody{
background-color: rgba(255,0,0,0.3);
}*/
table tfoot{
	background-color: rgba(0,255,0,0.3);
}
#cal{
	background-color: rgba(0,255,0,0.3);
}
#sun{
	background-color: rgba(255,0,0,0.3);
}
#sat{
	background-color: rgba(0,0,255,0.3);
}
